# ─────────────────────────────────────────────────────
# Memgraph Enterprise License (optional)
# Required for: Lab sharing features, multi-tenancy
# Leave empty to run in Community (free) mode
# ─────────────────────────────────────────────────────
MG_ENTERPRISE_LICENSE="mglk-IQAAAAgAAAAAAAAATWVtZ3JhcGgAAAAAAAAAAAAAAAAAAAAAAAAAAAA="
MG_ORGANIZATION_NAME="Memgraph"
