# Memgraph Enterprise license (required for HA).
# Copy this file to `.env` and fill in your details:
#   cp .env.example .env
MEMGRAPH_ORGANIZATION_NAME=<YOUR_ORGANIZATION_NAME>
MEMGRAPH_ENTERPRISE_LICENSE=<YOUR_ENTERPRISE_LICENSE>
